.NavBar {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #995d81;
  padding: 10px 30px;
  color: rgb(216, 216, 216);
}

.pages {
  position: fixed;
  right: 5%;
  /* transform: translate(-50%); */
}

.tab {
  color: #fcefef;
  text-decoration: none;
}

.cartImgContainer {
  position: fixed;
  right: 15vw;
  bottom: 5vh;
}

.cartImg {
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  z-index: 1;
  background-color: #995d81;
}

.cartImg:hover {
  transform: scale(1.05, 1.05);
}

.cartQty {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  right: -10%;
  bottom: -10%;
  padding: 0.4rem;
  min-width: 35%;
  text-align: center;
  z-index: 2;
  border-radius: 50%;
  background-color: #153243;
  color: #fcefef;
}

.title {
  color: #fcefef;
}

.pages {
  display: flex;
  gap: 20px;
}

.tab:hover {
  font-size: 1.1rem;
  color: white;
}
