.NavBar {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #995d81;
  padding: 10px 30px;
  color: rgb(216, 216, 216);
}

.pages {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
}

.tab {
  color: #fcefef;
  text-decoration: none;
}

.cartImg {
  height: 1.5rem;
  position: fixed;
  right: 40px;
}

.cartImg:hover {
  height: 1.6rem;
}

.title {
  color: #fcefef;
}

.pages {
  display: flex;
  gap: 20px;
}

.tab:hover {
  font-size: 1.1rem;
  color: white;
}
