body {
  background-image: url('../../imgs/bgmanda.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.card {
  width: fit-content;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid #153243;
  border-radius: 5px;
  margin: 10px;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #153243;
}

.productBottomRow {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
}

.icon {
  width: 1rem;
  height: 1rem;
  color: black;
  background-color: aqua;
}

#quantity {
  width: 2rem;
}

.cartTotalItemPrice {
  width: 18%;
  text-align: right;
}

.addCartBtn {
  color: #fcefef;
  background-color: #995d81;
  border: none;
  border-radius: 10%;
  padding: 3px 10px;
  margin: 0px 5px;
}
